/*Шрифти*/

@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");

/*Локальні шрифти*/

@import url(fonts.css);

/********************************/

/*Обнулення*/

@import url(reset.css);

/********************************/

.header__title {
  font-weight: 600;
  font-size: 50px;
  font-style: italic;
  color: blue;
  text-transform: uppercase;
  text-decoration: underline double blue;
  text-align: center;
  margin: 30px 0px;
  text-shadow: 5px -5px 20px rgba(0, 0, 0, 0.7);
  letter-spacing: 5px;
}
.header__link {
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  color: blue;
  text-align: center;
  line-height: 1.5;
  text-transform: uppercase;
}
.header__link a {
  text-decoration: underline dotted darkblue;
}
.header__menu {
  margin-bottom: 40px;
}

/********************************/

.page__living-room {
  font-family: "Proxima Nova", sans-serif;
  color: #2b2929;
  background-color: rgb(248, 248, 248);
}
.living-room__wrapper {
  max-width: 1070px;
  margin: 0 auto;
  overflow: hidden;
}
.living-room__title {
  font-weight: 600;
  font-size: 40px;
  line-height: 1.2;
  margin-bottom: 40px;
}
.living-room__image {
  margin-bottom: 40px;
}
.living-room__text {
  font-weight: 400;
  line-height: 1.87;
  margin-bottom: 40px;
}
.living-room__text p {
  padding-bottom: 24px;
}
.living-room__text p:last-child {
  padding-bottom: 0px;
}
.living-room__subtitle {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 30px;
}
.living-room__list {
  font-weight: 400;
  line-height: 1.87;
  margin-bottom: 40px;
}
.living-room__list li {
  padding: 0px 0px 20px 47px;
}
.living-room__list li:last-child {
  padding-bottom: 0px;
}

/**********************************/

.page__krovato {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 600;
  background: rgb(248, 248, 248);
}
.krovato__wrapper {
  max-width: 1290px;
  margin: 0 auto;
  overflow: hidden;
}
.krovato__title {
  font-size: 40px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 40px;
}
.krovato__items {
  margin: 0px -15px;
  margin-bottom: 60px;
}
.krovato__item {
  width: 322.5px;
  display: inline-block;
  padding: 0px 15px;
  vertical-align: top;
}
.item__image {
  padding: 0px 65px;
  margin-bottom: 20px;
}
.item__title {
  font-size: 26px;
  line-height: 1.31;
  text-align: center;
  margin-bottom: 20px;
}
.item__text {
  font-weight: 400;
  line-height: 1.87;
  text-align: center;
}

/**********************************/

.page__follow {
  background: rgba(30, 40, 50, 0.05);
}
.follow__wrapper {
  max-width: 1344px;
  margin: 0 auto;
  overflow: hidden;
  padding: 100px 0px;
}
.follow__title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 60px;
}
.follow__items {
  margin: 0px -12px;
}
.follow__item {
  display: inline-block;
  padding: 0px 12px;
}

/**********************************/
.page__test-1 {
  background-color: grey;
  margin-bottom: 200px;
}
.test__title {
  color: yellow;
  font-size: 40px;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
}

.test__block {
  display: inline-block;
  width: 400px;
  height: 100px;
  background-color: blue;
  margin: 50px;
  vertical-align: top;
}
.test__block p {
  color: yellow;
  font-size: 40px;
}
.block-1 {
  overflow: auto;
}
.block-2 {
  overflow: hidden;
}
.block-3 {
  overflow: scroll;
}
.block-4 {
  overflow: clip;
}
.block-5 {
  overflow: visible;
}

.page__test-2 {
  background-color: grey;
}
.block-6 {
  display: inline-block;
  width: 200px;
  height: 200px;
  vertical-align: bottom;
}
.block-7 {
  display: inline-block;
  width: 250px;
  height: 450px;
  vertical-align: middle;
}
.block-8 {
  display: inline-block;
  width: 140px;
  height: 170px;
  vertical-align: top;
}

/**********************************/

.footer__text {
  font-weight: 600;
  font-size: 20px;
  font-style: italic;
  color: blue;
  text-transform: uppercase;
  text-align: center;
  text-shadow: 5px -5px 20px rgba(0, 0, 0, 0.7);
  letter-spacing: 3px;
}
