///////////////////////////
// Block Header

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: toRem(30);

  // .block-header__content

  &__content {
    display: flex;
    column-gap: toRem(30);
    row-gap: toRem(5);
    align-items: flex-start;
    align-self: center;
    @media (max-width: toEm(767.98)) {
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
    }
  }

  // .block-header__title

  &__title {
  }

  // .block-header__more

  &__more {
  }

  // .block-header__arrows

  &__arrows {
    display: flex;
    gap: toRem(20);
    align-items: center;
    flex-shrink: 0;
  }

  // .block-header__arrow

  &__arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-grow: 0;
    width: toRem(60);
    height: toRem(60);
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s;
    &::before {
      color: $yellowColor;
      font-size: toRem(20);
      transition: color 0.3s;
    }
    &:last-child {
      transform: rotate(180deg);
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: $yellowColor;
        &::before {
          color: #fff;
        }
      }
    }
  }
}

///////////////////////////
// More

.more {
  display: inline-flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: toRem(10);
  flex-shrink: 0;
  color: $yellowColor;
  font-size: toRem(19);
  font-weight: 600;
  line-height: 2.52; /* 48/19 */
  &::before {
    font-size: toRem(12);
    transition: all 0.3s;
  }
  @media (any-hover: hover) {
    &:hover {
      color: #f8a427;
      &::before {
        transform: scale(1.15) translate(toRem(5), 0);
      }
    }
  }
}

///////////////////////////

%cards {
  background-color: #fff;
  border-radius: toRem(8);
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

///////////////////////////
// Header title

.title {
  @include adaptiveValue(font-size, 40, 32);
  font-weight: 600;
  line-height: 1.2;
}

///////////////////////////
// Category card

.item-category {
  @extend %cards;
  // .item-category__link

  &__link {
    position: relative;
    padding: toRem(20);
    display: flex;
    flex-direction: column;
    gap: toRem(20);
    aspect-ratio: 250/300;
    @media (max-width: toEm(600)) {
      aspect-ratio: 200 / 240;
    }
    &::before {
      position: absolute;
      bottom: toRem(20);
      right: toRem(20);
      color: $yellowColor;
      border: toRem(2) solid;
      border-radius: 50%;
      font-size: toRem(10);
      width: toRem(50);
      aspect-ratio: 1 /1;
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 3;
      transform: scale(0);
      transition: transform 0.3s;
      @media (max-width: toEm(600)) {
        width: toRem(40);
      }
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          transform: scale(1);
        }
      }
    }
    @media (any-hover: none) {
      &::before {
        transform: scale(1);
      }
    }
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      width: 112%; /* 280/250 */
      aspect-ratio: 1/1;
      border-radius: 50%;
      background-color: $lightColor;
      transform: translate(-50%, 31.428571%);
    }
  }

  // .item-category__header

  &__header {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    gap: toRem(15);
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.4;
    @media (max-width: toEm(600)) {
      font-size: toRem(19);
    }
  }

  // .item-category__title

  &__title {
  }

  // .item-category__quantity

  &__quantity {
    color: $lightGreyColor;
  }

  // .item-category__image

  &__image {
    position: relative;
    z-index: 2;
    max-width: 100%;
  }
}

///////////////////////////
// Product Card

.item-product {
  @extend %cards;
  border: 1px solid #e3e2e2;
  padding: toRem(20);

  > * {
    margin-bottom: toRem(10);
  }

  // .item-product__link

  &__link {
    overflow: hidden;
    border-radius: toRem(8);
    margin-bottom: toRem(20);
  }

  // .item-product__image

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 260 / 220;
    transition: transform 0.5s;
    @media (max-width: toEm(600)) {
      aspect-ratio: 370 / 220;
    }
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  // .item-product__size

  &__size {
    color: $greyColor;
    font-size: toRem(13);
    font-weight: 300;
    line-height: 1.69;
    @media (max-width: toEm(600)) {
      font-size: toRem(15);
    }
  }

  // .item-product__title

  &__title {
    font-size: 1toRem (19);
    font-weight: 600;
    line-height: 1.26;
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $yellowColor;
      }
    }
    @media (max-width: toEm(600)) {
      font-size: toRem(20);
    }
  }

  // .item-product__link-title

  &__link-title {
  }

  // .item-product__stock

  &__stock {
    font-size: toRem(13);
    font-weight: 300;
    line-height: 1.69;
    margin-bottom: toRem(20);
    display: flex;
    align-items: center;
    gap: toRem(7);
    &::before {
      font-size: toRem(20);
      color: #82b09d;
    }
  }

  // .item-product__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;
    gap: toRem(15);
    align-items: center;
  }

  // .item-product__price

  &__price {
  }

  // .item-product__actions

  &__actions {
    display: flex;
    gap: toRem(10);
  }

  // .item-product__favorite

  &__favorite {
    width: toRem(50);
    aspect-ratio: 1/1;
    background-color: $lightColor;
    border-radius: 50%;
    transition: box-shadow 0.3s;
    &::before {
      color: $lightGreyColor;
      font-size: toRem(26);
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 toRem(7) rgba(0, 0, 0, 0.5);
      }
    }
    @media (max-width: toEm(600)) {
      width: toRem(70);
      &::before {
        font-size: toRem(36);
      }
    }
  }

  // .item-product__basket

  &__basket {
    width: toRem(50);
    aspect-ratio: 1/1;
    background-color: $yellowColor;
    border-radius: 50%;
    transition: box-shadow 0.3s;
    &::before {
      color: #fff;
      font-size: toRem(25);
    }
    @media (any-hover: hover) {
      &:hover {
        box-shadow: 0 0 toRem(7) rgba(0, 0, 0, 0.5);
      }
    }
    @media (max-width: toEm(600)) {
      width: toRem(70);
      &::before {
        font-size: toRem(35);
      }
    }
  }

  > *:last-child {
    margin-bottom: toRem(0);
  }
}

.price-item-product {
  display: flex;
  flex-direction: column;

  // .price-item-product__old

  &__old {
    color: $redColor;
    font-size: toRem(15);
    line-height: 1.46;
    text-decoration: line-through;
  }

  // .price-item-product__current

  &__current {
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.4;
  }
  @media (max-width: toEm(600)) {
    font-size: toRem(26);
  }
}

///////////////////////////
// Article card

.item-article {
  @extend %cards;
  border: toRem(1) solid #e3e2e2;

  // .item-article__link

  &__link {
    margin-bottom: toRem(30);
    overflow: hidden;
    border-radius: 8px;
  }

  // .item-article__image

  &__image {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 410 /270;
    transition: transform 0.5s;
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  // .item-article__dody

  &__body {
    padding-inline: toRem(30);
    padding-bottom: toRem(20);
  }

  // .item-article__title

  &__title {
    font-size: toRem(26);
    font-weight: 600;
    line-height: 1.3;
    transition: color 0.3s;
    &:not(:last-child) {
      margin-bottom: toRem(30);
    }
    @media (any-hover: hover) {
      &:hover {
        color: $yellowColor;
      }
    }
  }

  // .item-article__more

  &__more {
    line-height: 1.26;
  }
}

///////////////////////////
// Quantity

.quantity {
  display: flex;
  justify-content: center;
  background-color: $lightColor;
  border: toRem(1) solid $lightGreyColor;
  border-radius: toRem(8);
  height: toRem(50);
  padding-inline: toRem(20);
  padding-block: toRem(13);

  // .quantity__button
  &__button {
    inline-size: toRem(24);
    block-size: toRem(24);
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    font-size: toRem(14);
  }
  // .quantity__input
  &__input {
    min-width: toRem(30);
    text-align: center;
    font-weight: 600;
    font-size: toRem(20);
  }
}
