.menu-open,
.catalog-open,
.search-open body {
  overflow: hidden;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  color: $greyColor;
  &::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(27, 26, 26, 0.8);
    backdrop-filter: blur(2.5px);
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  .catalog-open &,
  .search-open &,
  .card-open & {
    &::before {
      opacity: 1;
      visibility: visible;
    }
  }

  // .header__top

  &__top {
  }

  // .header__body

  &__body {
  }

  // .header__bottom

  &__bottom {
  }
}

/////////////////////////////////////////////////////////////

.top-header {
  position: relative;
  z-index: 51;
  background-color: $lightColor;
  @media (max-width: toEm(991.98)) {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: none;
    .menu-open & {
      display: block;
    }
  }
  @media (max-width: toEm(991.98)) {
    overflow-y: auto;
    padding-block-end: toRem(40);
    padding-block-start: toRem(100);
  }
  // .top-header__container

  &__container {
    padding-block: toRem(15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: toRem(40);
    @media (max-width: toEm(1150)) {
      padding-block: toRem(10);
    }
    @media (max-width: toEm(991.98)) {
      flex-direction: column;
      align-items: flex-start;
      font-size: toRem(25);
      gap: toRem(30);
    }
    @media (max-width: toEm(767.98)) {
      align-items: center;
      text-align: center;
    }
  }

  // .top-header__menu

  &__menu {
  }

  // .top-header__actions

  &__actions {
    display: flex;
    column-gap: toRem(30);
    align-items: center;
    flex-shrink: 0;
    @media (max-width: toEm(991.98)) {
      flex-direction: column;
      gap: toRem(20);
      align-items: flex-start;
    }
    @media (max-width: toEm(767.98)) {
      align-items: center;
    }
  }

  // .top-header__social

  &__social {
  }

  // .top-header__lang

  &__lang {
  }
}
.menu {
  // .menu__body

  &__body {
  }

  // .menu__list

  &__list {
    display: flex;
    flex-wrap: wrap;
    row-gap: toRem(5);
    column-gap: toRem(30);
    @media (max-width: toEm(1150)) {
      column-gap: toRem(15);
    }
    @media (max-width: toEm(991.98)) {
      flex-direction: column;
      gap: toRem(20);
    }
  }

  // .menu__item

  &__item {
  }

  // .menu__link

  &__link {
    line-height: 1.87;
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $yellowColor;
      }
    }
    @media (max-width: toEm(991.98)) {
      line-height: 1.1;
    }
  }
}
.social-header-top {
  display: flex;
  column-gap: toRem(20);
  row-gap: toRem(5);
  align-items: center;
  @media (max-width: toEm(991.98)) {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
  }
  @media (max-width: toEm(767.98)) {
    align-items: center;
  }

  // .social-header-top__label

  &__label {
    flex-shrink: 0;
    line-height: 1.87;
  }

  // .social-header-top__items

  &__items {
    display: flex;
    column-gap: toRem(10);
    row-gap: toRem(5);
  }

  // .social-header-top__item

  &__item {
    flex-shrink: 0;
    transition: transform 0.3s;
    img {
      width: toRem(30);
      height: toRem(30);
    }
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.07);
      }
    }
  }
}
.lang-header-top {
  position: relative;
  &.--active {
    .lang-header-top__list {
      opacity: 1;
      visibility: visible;
      pointer-events: auto;
    }
    .lang-header-top__current::before {
      transform: rotate(-180deg);
    }
  }

  // .lang-header-top__current

  &__current {
    position: relative;
    z-index: 52;
    font-size: toRem(19);
    font-weight: 600;
    line-height: 1.26;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    &::before {
      font-size: toRem(10);
      color: $greyColor;
      width: toRem(24);
      height: toRem(24);
      display: flex;
      justify-content: center;
      align-items: center;
      transition: transform 0.5s, color 0.5s;
    }
  }

  // .lang-header-top__list

  &__list {
    position: absolute;
    z-index: 51;
    width: 100%;
    padding-block: toRem(10);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s, visibility 0.5s;
    pointer-events: none;
    &::before {
      content: "";
      position: absolute;
      z-index: 51;
      top: toRem(-34);
      left: toRem(-5);
      width: calc(100% + toRem(10));
      height: calc(100% + toRem(34));
      background-color: #fff;
      box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.12);
      border-radius: toRem(8);
    }
  }

  // .lang-header-top__item

  &__item {
    position: relative;
    z-index: 51;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  // .lang-header-top__link

  &__link {
    font-size: toRem(19);
    font-weight: 600;
    line-height: 1.26;
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $yellowColor;
      }
    }
  }

  @media (any-hover: hover) {
    &:hover {
      .lang-header-top__list {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
      }
      .lang-header-top__current {
        color: $yellowColor;
        &::before {
          transform: rotate(-180deg);
          color: $yellowColor;
        }
      }
    }
  }
}

/////////////////////////////////////////////////////////////
//Burger

.icon-menu {
  display: none;
  @media (max-width: toEm(991.98)) {
    display: block;
    position: relative;
    width: toRem(30);
    height: toRem(18);
    flex-shrink: 0;
    z-index: 5;
    @media (any-hover: none) {
      cursor: default;
    }
    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: toRem(2);
      background-color: #000;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      top: calc(50% - toRem(1));
    }
    .menu-open & {
      span {
        width: 0;
      }
      &::before,
      &::after {
      }
      &::before {
        top: calc(50% - toRem(1));
        transform: rotate(-45deg);
      }
      &::after {
        bottom: calc(50% - toRem(1));
        transform: rotate(45deg);
      }
    }
  }
}

/////////////////////////////////////////////////////////////

.body-header {
  position: relative;
  z-index: 50;
  background-color: #fff;
  @media (max-width: toEm(991.98)) {
    .menu-open & {
      border-bottom: toRem(2) solid $lightColor;
      z-index: 51;
    }
  }

  // .body-header__container

  &__container {
    position: relative;
    padding-block: toRem(25);
    display: flex;
    column-gap: toRem(30);
    align-items: center;
    @media (max-width: toEm(1150)) {
      column-gap: toRem(15);
    }
    @media (max-width: toEm(991.98)) {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
    }
    @media (max-width: toEm(767.98)) {
      padding-block: toRem(20);
    }
    @media (max-width: toEm(450)) {
      column-gap: toRem(7);
    }
  }

  // .body-header__logo

  &__logo {
    width: toRem(250);
    height: toRem(50);
    flex-shrink: 0;
    margin-right: toRem(4);
    @media (max-width: toEm(1270)) and (min-width: toEm(991.98)) {
      width: toRem(200);
    }
    @media (max-width: toEm(991.98)) {
      margin-right: 0;
    }
    @media (max-width: toEm(767.98)) {
      width: toRem(215);
      height: toRem(36);
    }
    @media (max-width: toEm(450)) {
      width: toRem(180);
    }
  }

  // .body-header__catalog

  &__catalog {
    @media (max-width: toEm(650)) {
      width: 100%;
    }
  }

  // .body-header__search

  &__search {
    flex-grow: 1;
  }

  // .body-header__contacts

  &__contacts {
    flex-shrink: 0;
  }

  // .body-header__actions

  &__actions {
    flex-shrink: 0;
  }
}
.catalog-header {
  // .catalog-header__button

  &__button {
  }
}
.button-header-catalog {
  color: #fff;
  background-color: $yellowColor;
  padding-block: toRem(11);
  padding-inline: toRem(20);
  border-radius: toRem(8);
  display: flex;
  align-items: center;
  gap: toRem(10);
  transition: background-color 0.3s;
  @media (any-hover: hover) {
    &:hover {
      background-color: $yellowColorHover;
    }
  }
  @media (max-width: toEm(650)) {
    justify-content: center;
    width: 100%;
  }

  // .button-header-catalog__icon

  &__icon {
    width: toRem(20);
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
    @media (max-width: toEm(991.98)) {
      width: toRem(24);
    }
    @media (max-width: toEm(450)) {
      display: none;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-size: toRem(20);
      transition: transform 0.5s;

      &:first-child {
      }
      &:last-child {
        transform: translate(0, 110%);
      }
      .catalog-open & {
        &:first-child {
          transform: translate(0, -110%);
        }
        &:last-child {
          transform: translate(0, 0);
        }
      }
    }
  }

  // .button-header-catalog__text

  &__text {
    font-size: toRem(19);
    font-weight: 600;
    line-height: 1.26;
  }
}

:root {
  --menu-catalog-top: 0px;
}

.items-catalog-header {
  block-size: calc(100dvh - var(--menu-catalog-top));
  overflow-y: auto;

  width: 100%;
  display: block;
  color: $mainColor;
  position: absolute;
  z-index: 3;
  top: calc(100% + toRem(10));
  left: toRem(15);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
  @media (max-width: toEm(991.98)) {
    left: 0;
  }
  .catalog-open & {
    opacity: 1;
    visibility: visible;
  }

  // .items-catalog-header__list

  &__list {
    padding-block: toRem(8);
    background-color: #fff;
    border-radius: toRem(8);
    position: relative;
    width: toRem(300);
    display: flex;
    flex-direction: column;
    transition: border-radius 0.3s;
    @media (max-width: toEm(991.98)) {
      border-radius: 0;
      width: 100%;
    }

    &::after {
      content: "";
      position: absolute;
      z-index: 3;
      pointer-events: none;
      top: toRem(8);
      right: 0;
      width: 0;
      height: calc(100% - toRem(18));
      background-color: $yellowColor;
      transition: width 0.3s;
      @media (max-width: toEm(991.98)) {
        display: none;
      }
    }
    @media (any-hover: hover) {
      &:hover {
        border-radius: toRem(8) 0 0 toRem(8);
        &::after {
          width: toRem(5);
        }
      }
    }
  }

  // .items-catalog-header__item

  &__item {
    min-height: toRem(60);

    display: grid;
    grid-template-columns: 1fr toRem(24);

    @media (min-width: toEm(992)) {
      padding-inline-end: toRem(15);
    }
    @media (max-width: toEm(991.98)) {
      grid-template-columns: 1fr toRem(44);
    }

    transition: background-color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: $yellowColor;

        .items-catalog-header__arrow-more {
          color: $mainColor;
        }
        .items-catalog-header__sub-list {
          opacity: 1;
          visibility: visible;
          pointer-events: all;
        }
      }
    }
  }

  // .items-catalog-header__link

  &__link {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: toRem(15);
    padding-block: toRem(10);
    padding-inline-start: toRem(30);
    padding-inline-end: toRem(15);
    transition: all 0.3s;

    @media (max-width: toEm(991.98)) {
      padding-inline-start: toRem(15);
    }
    .--active & {
      background-color: $yellowColor;
      color: $mainColor;
    }
  }

  // .items-catalog-header__icon

  &__icon {
    width: toRem(40);
    height: toRem(40);
    flex-shrink: 0;
  }

  // .items-catalog-header__title

  &__title {
    flex-grow: 1;
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.4;
  }

  // .items-catalog-header__arrow-more

  &__arrow-more {
    pointer-events: none;

    height: toRem(60);
    display: flex;
    justify-content: center;
    align-items: center;
    color: $yellowColor;
    transition: all 0.3s;
    &::before {
      font-size: toRem(11);
      transform: rotate(-90deg);
    }
    @media (max-width: toEm(991.98)) {
      pointer-events: all;
    }
    .--active & {
      background-color: $yellowColor;
      color: $mainColor;
    }
    @media (max-width: toEm(991.98)) {
      padding-inline-end: toRem(15);
      padding-inline-start: toRem(15);
      &::before {
        transform: rotate(0deg);
        .--active & {
          transform: rotate(-180deg);
        }
      }
    }
  }

  // .items-catalog-header__sub-list

  &__sub-list {
    background-color: #fff;
    transition: all 0.5s;

    @media (min-width: toEm(992)) {
      pointer-events: none;
      opacity: 0;
      visibility: hidden;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 100%;
      width: toRem(318);
      height: 100%;
      border-radius: 0 toRem(8) toRem(8) 0;
      padding-block: toRem(20);
      padding-inline-start: toRem(30);
      padding-inline-end: toRem(20);
      overflow-y: auto;
    }

    @media (max-width: toEm(991.98)) {
      padding-block: toRem(10);
      padding-inline: toRem(15);
      display: none;
      .--active & {
        display: block;
      }
    }
  }

  // .items-catalog-header__sub-item

  &__sub-item {
    &:not(:last-child) {
      margin-bottom: toRem(15);
    }
  }

  // .items-catalog-header__sub-link

  &__sub-link {
    font-size: toRem(19);
    line-height: 1.5;
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $yellowColor;
      }
    }
  }
}
.search-header {
  //.search-header__open

  &__open {
    display: none;
    @media (max-width: toEm(650)) {
      display: block;
      width: toRem(50);
      aspect-ratio: 1/ 1;
      border-radius: 50%;
      border: toRem(2) solid $yellowColor;
      position: relative;
      flex-shrink: 0;
      span {
        position: absolute;
        top: 50%;
        left: 50%;
        width: toRem(23);
        transform: translate(-50%, -45%);
        font-size: toRem(23);
        color: $greyColor;
        transition: transform 0.3s;
        &:first-child {
        }
        &:last-child {
          transform: translate(-50%, -45%) scale(0);
        }
        .search-open & {
          &:first-child {
            transform: translate(-50%, -45%) scale(0);
          }
          &:last-child {
            transform: translate(-50%, -45%) scale(1);
          }
        }
      }
    }
  }

  // .search-header__body
  &__body {
    position: relative;
    // z-index: -1;
    height: toRem(50);
    transition: all 0.3s;
    @media (max-width: toEm(650)) {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #fff;
      padding-block: toRem(35);
      padding-inline: toRem(15);
      height: toRem(120);
      opacity: 0;
      visibility: hidden;
    }
    .search-open & {
      opacity: 1;
      visibility: visible;
      top: 100%;
    }
  }

  // .search-header__input

  &__input {
    border-radius: toRem(8);
    border: toRem(1) solid $lightGreyColor;
    height: 100%;
    border-radius: toRem(8);
    padding-inline-end: toRem(54);
    padding-inline-start: toRem(15);
    &::placeholder {
      color: $lightGreyColor;
    }
  }

  // .search-header__button

  &__button {
    position: absolute;
    top: 0;
    right: 0;
    height: toRem(50);
    width: toRem(54);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: toRem(8);
    &::before {
      font-size: toRem(24);
      color: $greyColor;
    }
    @media (max-width: toEm(650)) {
      top: 50%;
      right: toRem(15);
      transform: translate(0, -50%);
    }
  }
}
.contacts-header {
  position: relative;
  @media (max-width: toEm(991.98)) {
    justify-self: end;
  }

  // .contacts-header__current

  &__current {
    position: relative;
    z-index: 3;
  }

  // .contacts-header__list

  &__list {
    position: absolute;
    z-index: 2;
    top: 100%;
    left: 0;
    width: 100%;
    padding-left: toRem(60);
    padding-top: toRem(10);
    opacity: 0;
    visibility: hidden;
    @media (max-width: toEm(1220)) {
      padding-left: 0;
    }
    &::before {
      content: "";
      position: absolute;
      background-color: #fff;
      top: toRem(-70);
      left: toRem(-20);
      width: calc(100% + toRem(40));
      height: calc(100% + toRem(90));
      border-radius: 8px;
      box-shadow: toRem(0) toRem(0) toRem(15) toRem(0) rgba(0, 0, 0, 0.12);
      @media (max-width: toEm(991.98)) {
        width: calc(100% + toRem(30));
        height: calc(100% + toRem(75));
      }
    }
    .--active & {
      opacity: 1;
      visibility: visible;
    }
  }

  // .contacts-header__item

  &__item {
    position: relative;
    z-index: 2;
    &:not(:last-child) {
      margin-bottom: toRem(10);
    }
  }

  // .contacts-header__link

  &__link {
    font-size: toRem(20);
    font-weight: 600;
    line-height: 1.4;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  // .contacts-header__callback

  &__callback {
    font-size: toRem(19);
    font-weight: 600;
    line-height: 1.4;
    color: $yellowColor;
    text-align: left;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}
.current-header-contacts {
  display: flex;
  align-items: center;
  gap: toRem(10);

  // .current-header-contacts__icon-phone

  &__icon-phone {
    width: toRem(50);
    aspect-ratio: 1 / 1;
    background-color: $lightColor;
    border-radius: 50%;
    font-size: toRem(23);
    color: $greyColor;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: toEm(1220)) {
      display: none;
    }
  }

  // .current-header-contacts__body

  &__body {
    display: flex;
    flex-direction: column;
  }

  // .current-header-contacts__arrow

  &__arrow {
    position: relative;
    width: toRem(24);
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    @media (max-width: toEm(767.98)) {
      display: none;
    }

    span {
      position: absolute;
      top: 0;
      left: 0;
      font-size: toRem(11);
      width: toRem(24);
      aspect-ratio: 1 /1;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $greyColor;
      transition: transform 0.5s, opacity 0.5s;
      &:first-child {
      }
      &:last-child {
        opacity: 0;
      }
    }
    .--active & {
      span {
        transform: rotate(-180deg);
        &:first-child {
          opacity: 0;
        }
        &:last-child {
          opacity: 1;
        }
      }
    }
  }
}
.current-contacts-header {
  // .current-contacts-header__schedule

  &__schedule {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69;
    color: $greyColor;
    @media (max-width: toEm(650)) {
      display: none;
    }
  }

  // .current-contacts-header__phone

  &__phone {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    &::before {
      display: none;
    }
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
    @media (max-width: toEm(650)) {
      font-size: 0;
      &::before {
        display: block;
        width: toRem(50);
        aspect-ratio: 1 / 1;
        background-color: $lightColor;
        border-radius: 50%;
        font-size: toRem(23);
        font-weight: 400;
        color: $greyColor;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
.actions-body-header {
  display: flex;
  gap: toRem(20);
  @media (max-width: toEm(450)) {
    gap: toRem(7);
  }

  // .actions-body-header__item

  &__item {
    width: toRem(50);
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: toRem(2) solid $yellowColor;
    transition: background-color 0.3s;
    &::before {
      font-size: toRem(25);
      color: $greyColor;
      transition: color 0.3s;
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: $yellowColor;
        &::before {
          color: #fff;
        }
      }
    }
  }

  // .actions-body-header__card

  &__card {
    position: absolute;
    top: calc(100% + toRem(15));
    right: toRem(15);
    width: toRem(520);
    padding: toRem(30);
    border-radius: toRem(8);
    @media (max-width: toEm(991.98)) {
      width: 100%;
      right: 0;
      padding: toRem(15);
      border-radius: 0;
    }
  }
}

/////////////////////////////////////////////////////////////

.bottom-header {
  background-color: #fff;
  border-top: toRem(2) solid $lightColor;
  font-size: toRem(19);
  font-weight: 600;
  line-height: 1.26;
  @media (max-width: toEm(1150)) {
    font-size: toRem(17);
  }
  @media (max-width: toEm(991.98)) {
    display: flex;
    justify-content: space-between;
    gap: toRem(30);
    align-items: center;
    padding-inline: toRem(15);
    padding-block: toRem(12);
    font-weight: 400;
    position: relative;
    z-index: 2;
  }
  @media (max-width: toEm(450)) {
    column-gap: toRem(7);
  }

  // .bottom-header__container

  &__container {
    display: flex;
    justify-content: space-between;
    column-gap: toRem(50);
    align-items: center;
    padding-block: toRem(18);
    @media (max-width: toEm(1150)) {
      column-gap: toRem(30);
      padding-block: toRem(10);
    }
    @media (max-width: toEm(991.98)) {
      flex-direction: column;
      align-items: flex-start;
      font-size: toRem(25);
      gap: toRem(30);
      &:not(:last-child) {
        margin-bottom: toRem(10);
      }
    }
    @media (max-width: toEm(767.98)) {
      align-items: center;
      text-align: center;
    }
  }

  // .bottom-header__info

  &__info {
  }

  // .bottom-header__menu

  &__menu {
  }
}
.info-bottom-header {
  flex-shrink: 0;
  @media (max-width: toEm(991.98)) {
    order: 2;
  }
  // .info-bottom-header__list

  &__list {
    display: flex;
    column-gap: toRem(40);
    row-gap: toRem(5);
    @media (max-width: toEm(1300)) {
      column-gap: toRem(20);
    }
    @media (max-width: toEm(1150)) {
      column-gap: toRem(15);
    }
    @media (max-width: toEm(991.98)) {
      flex-direction: column;
      gap: toRem(20);
    }
    @media (max-width: toEm(767.98)) {
      align-items: center;
    }
  }

  // .info-bottom-header__item

  &__item {
    display: flex;
    gap: toRem(10);
    align-items: center;
    &::before {
      width: toRem(24);
      height: toRem(24);
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      font-size: toRem(20);
      color: $yellowColor;
    }
  }

  // .info-bottom-header__link

  &__link {
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $yellowColor;
      }
    }
  }
}
.menu-bottom-header {
  @media (max-width: toEm(991.98)) {
    order: 1;
  }

  // .menu-bottom-header__list

  &__list {
    display: flex;
    justify-content: center;
    column-gap: toRem(40);
    row-gap: toRem(5);
    flex-wrap: wrap;
    @media (max-width: toEm(1300)) {
      column-gap: toRem(20);
    }
    @media (max-width: toEm(1150)) {
      column-gap: toRem(15);
    }
    @media (max-width: toEm(991.98)) {
      order: 1;
      flex-direction: column;
      gap: toRem(20);
    }
  }

  // .menu-bottom-header__item

  &__item {
  }

  // .menu-bottom-header__link

  &__link {
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $yellowColor;
      }
    }
  }
}

/////////////////////////////////////////////////////////////

.card-header {
  background: #fff;
  box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  display: flex;
  flex-direction: column;
  gap: toRem(40);
  color: $mainColor;
  transition: all 0.5s;

  opacity: 0;
  visibility: hidden;
  .card-open & {
    opacity: 1;
    visibility: visible;
  }

  // .card-header__top

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .card-header__title

  &__title {
    font-size: toRem(26);
    font-weight: 600;
    line-height: 1.3;
    display: flex;
    gap: toRem(10);

    span {
      color: $yellowColor;
    }
  }

  // .card-header__close

  &__close {
    flex-shrink: 0;
    width: toRem(24);
    height: toRem(24);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
    &::before {
      font-size: toRem(16);
    }
    @media (any-hover: hover) {
      &:hover {
        color: $yellowColor;
      }
    }
  }

  // .card-header__boby

  &__boby {
  }

  // .card-header__items

  &__items {
    overflow-y: auto;
    block-size: calc(100vh - toRem(490));
  }

  // .card-header__item

  &__item {
  }

  // .card-header__bottom

  &__bottom {
    display: grid;
    gap: toRem(20);
  }

  // .card-header__button

  &__button {
    padding-inline: toRem(30);
    padding-block: toRem(8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: toRem(19);
    font-weight: 600;
    line-height: 1.26;
    border-radius: toRem(8);
    height: toRem(50);
  }

  // .card-header__button--checkout

  &__button--checkout {
    color: #fff;
    background-color: $yellowColor;
    transition: background-color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: $yellowColorHover;
      }
    }
  }

  // .card-header__button--continue

  &__button--continue {
    background-color: #fff;
    color: $yellowColor;
    border: toRem(2) solid $yellowColor;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: $yellowColor;
        color: #fff;
      }
    }
  }
}
.item-card-header {
  display: grid;
  grid-template-columns: toRem(120) 1fr toRem(24);
  column-gap: toRem(20);
  row-gap: toRem(16);
  &:not(:last-child) {
    padding-block-end: toRem(30);
    margin-block-end: toRem(30);
    border-bottom: toRem(2) solid #c5c5c5;
  }
  &:last-child {
    padding-block-end: toRem(5);
  }
  @media (max-width: toEm(525)) {
    grid-template-columns: toRem(100) 1fr toRem(24);
  }

  // .item-card-header__image-link

  &__image-link {
    align-self: start;
  }

  // .item-card-header__image

  &__image {
    width: 100%;
    height: 100%;
    aspect-ratio: 120 / 100;
    object-fit: cover;
    border-radius: toRem(8);
  }

  // .item-card-header__body

  &__body {
    display: flex;
    flex-direction: column;
    gap: toRem(4);
  }

  // .item-card-header__size

  &__size {
    font-size: 13px;
    font-weight: 300;
    line-height: 1.69;
    color: $greyColor;
  }

  // .item-card-header__title

  &__title {
    font-size: toRem(19);
    font-weight: 600;
    line-height: 1.26;
    @media (max-width: toEm(525)) {
      font-size: toRem(16);
    }
  }

  // .item-card-header__title-link

  &__title-link {
    transition: color 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: $yellowColor;
      }
    }
  }

  // .item-card-header__stock

  &__stock {
    font-size: toRem(13);
    font-weight: 300;
    line-height: 1.53; /* 20/13 */
    display: flex;
    align-items: center;
    gap: toRem(6);
    &::before {
      flex-shrink: 0;
      color: $greenColor;
      font-size: toRem(20);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  // .item-card-header__close

  &__close {
    width: toRem(24);
    height: toRem(24);
    align-self: start;
    grid-row: span 2;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
      flex-shrink: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: toRem(20);
      height: toRem(20);
      font-size: toRem(8);
      font-weight: 600;
      border-radius: 50%;
      border: toRem(2) solid $yellowColor;
      transition: background-color 0.3s;
    }
    @media (any-hover: hover) {
      &:hover {
        &::before {
          background-color: $yellowColor;
        }
      }
    }
  }

  // .item-card-header__quantity

  &__quantity {
  }

  // .item-card-header__price

  &__price {
  }
}
.quantity {
  // .quantity__button

  &__button {
  }

  // .quantity__input

  &__input {
  }
}
.price-item-card-header {
  display: flex;
  align-items: center;
  gap: toRem(20);
  @media (max-width: toEm(425)) {
    flex-direction: column;
    gap: 0;
  }

  // .price-item-card-header__current

  &__current {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
  }

  // .price-item-card-header__old

  &__old {
    color: $redColor;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.46;
    text-decoration: line-through;
  }
}
