[class*=" _icon-"]::before {
  font-family: "icons";
  speak: never;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-add-more::before {
  content: "\e900";
}
._icon-add-review::before {
  content: "\e901";
}
._icon-all-reviews::before {
  content: "\e902";
}
._icon-arrow-all::before {
  content: "\e903";
}
._icon-arrow-down::before {
  content: "\e904";
}
._icon-arrow-more::before {
  content: "\e905";
}
._icon-basket::before {
  content: "\e906";
}
._icon-check::before {
  content: "\e908";
}
._icon-close::before {
  content: "\e909";
}
._icon-favorite::before {
  content: "\e90a";
}
._icon-filter::before {
  content: "\e90b";
}
._icon-hide::before {
  content: "\e90c";
}
._icon-in-stock::before {
  content: "\e90d";
}
._icon-location::before {
  content: "\e90e";
}
._icon-menu-catalog::before {
  content: "\e90f";
}
._icon-menu-catalog-close::before {
  content: "\e910";
}
._icon-menu-parts::before {
  content: "\e911";
}
._icon-menu-sales::before {
  content: "\e912";
}
._icon-menu-star::before {
  content: "\e913";
}
._icon-minus::before {
  content: "\e914";
}
._icon-phone::before {
  content: "\e915";
}
._icon-phone-lite::before {
  content: "\e916";
}
._icon-plus::before {
  content: "\e917";
}
._icon-question::before {
  content: "\e918";
}
._icon-r-answer::before {
  content: "\e919";
}
._icon-r-arrow::before {
  content: "\e91a";
}
._icon-r-hide::before {
  content: "\e91b";
}
._icon-r-like::before {
  content: "\e91c";
}
._icon-r-reply::before {
  content: "\e91d";
}
._icon-search::before {
  content: "\e91e";
}
._icon-slide-arrows::before {
  content: "\e91f";
}
._icon-slider-arrow::before {
  content: "\e920";
}
._icon-social-telegram::before {
  content: "\e921";
}
._icon-social-viber::before {
  content: "\e922";
}
._icon-social-whatsapp::before {
  content: "\e923";
}
._icon-sort::before {
  content: "\e924";
}
._icon-shedule::before {
  content: "\e925";
}
._icon-user::before {
  content: "\e926";
}
