/*Шрифти*/

/*Локальні шрифти*/

@import url(fonts.css);

/********************************/

/*Обнулення*/

@import url(reset.css);

/********************************/

.wrapper {
  min-height: 100%;
  overflow: clip;
}
body {
  font-family: "Arial", sans-serif;
  background-color: rgba(0, 0, 0, 0.2);
}

/********************************/

.header__container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 15px 0px;
}
.header__title {
  padding: 20px;
  color: rgb(40, 190, 40);
  font-size: 40px;
  font-weight: 600;
  font-style: italic;
  text-transform: capitalize;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  border: 2px solid black;
  text-decoration: underline dashed;
  letter-spacing: 2px;
}

/********************************/

.page__container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 15px 0px;
}
.page__practice {
  padding: 50px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  border: 2px solid black;
}
.page__practice h2 {
  text-transform: uppercase;
  text-align: center;
  line-height: 1.5;
  font-weight: 500;
}
.practice__block {
  display: inline-block;
  margin: 0px 50px 50px 0px;
  width: 270px;
  height: 270px;
  background-color: rgba(0, 128, 0, 0.5);
  padding: 35px;
}
.practice__item {
  padding: 30px;
  width: 200px;
  height: 200px;
  background-color: rgba(0, 0, 255, 0.7);
  overflow: hidden;
  transition: all 0.5s;
}
.practice__block--1:hover .practice__item--1 {
  transform: translate(20px, 20px);
}
.practice__block--2:hover .practice__item--2 {
  transform: scale(1.2);
}
.practice__block--3:hover .practice__item--3 {
  transform: rotate(90deg);
}
.practice__block--4:hover .practice__item--4 {
  transform: skew(-45deg, 0deg);
}
.practice__block--5:hover .practice__item--5 {
  transform: rotate(90deg);
  transform-origin: top;
}
.practice__block--6 {
  perspective: 200px;
  perspective-origin: top;
  transform-style: preserve-3d;
}
.practice__block--6:hover .practice__item--6 {
  transform: rotateX(50deg);
  overflow: scroll;
}
/**************************/
.card__body {
  position: relative;
  width: 400px;
  perspective: 800px;
  margin-bottom: 50px;
}
.card__body img {
  width: 100%;
  border-radius: 20px;
  border: 2px solid black;
}
.card__front,
.card__back {
  transition: all 0.5s;
}
.card__front {
  position: absolute;
  top: 0;
  left: 0;
}
.card__back {
  backface-visibility: hidden;
  transform: rotateY(180deg);
}
.card__body:hover .card__back {
  transform: rotateY(0deg);
}
.card__body:hover .card__front {
  transform: rotateY(-180deg);
  backface-visibility: hidden;
}
/*****************************/

.picture__container {
  position: relative;
  overflow: hidden;
  height: 650px;
  background-color: aliceblue;
}
.picture__sun {
  position: absolute;
  top: -25px;
  right: -25px;
  width: 170px;
  height: 170px;
  background-color: yellow;
  box-shadow: 0px 0px 50px yellow;
  border-radius: 50%;
  z-index: 2;
}
.picture__cloud-1 {
  position: absolute;
  top: -20px;
  right: -10px;
  width: 600px;
  height: 70px;
  background-color: rgba(4, 198, 228);
  border-radius: 50px;
  box-shadow: 0px 0px 30px rgba(4, 198, 228);
}
.picture__cloud-2 {
  position: absolute;
  top: -20px;
  left: -10px;
  width: 500px;
  height: 100px;
  background-color: rgba(4, 198, 228);
  border-radius: 50px;
  box-shadow: 0px 0px 40px rgba(4, 198, 228);
}
.picture__road-1 {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: rgba(0, 0, 0, 0.4);
  border-top: 15px dashed black;
}
.picture__road-2 {
  position: absolute;
  left: 0;
  bottom: 150px;
  width: 100%;
  height: 135px;
  background-color: rgba(0, 0, 0, 0.4);
}
.picture__grass {
  position: absolute;
  bottom: 285px;
  left: 0px;
  width: 100%;
  height: 20px;
  background-color: rgba(0, 128, 0, 0.7);
  border-top: 5px dashed aliceblue;
}
.picture__zebra {
  width: 100px;
  height: 15px;
  background-color: aliceblue;
}
.picture__zebra--1 {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.picture__zebra--2 {
  position: absolute;
  bottom: 60px;
  right: 20px;
}
.picture__zebra--3 {
  position: absolute;
  bottom: 100px;
  right: 20px;
}
.picture__zebra--4 {
  position: absolute;
  bottom: 170px;
  right: 20px;
}
.picture__zebra--5 {
  position: absolute;
  bottom: 210px;
  right: 20px;
}
.picture__zebra--6 {
  position: absolute;
  bottom: 250px;
  right: 20px;
}
.picture__lights {
  position: absolute;
  top: 240px;
  right: 120px;
  width: 40px;
  height: 70px;
  background-color: rgb(72, 72, 72);
  border-radius: 20px;
}
.lights__light-1 {
  position: absolute;
  top: 35px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: yellowgreen;
  box-shadow: 0px 0px 10px yellowgreen;
}
.lights__light-2 {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  box-shadow: 0px 0px 10px red;
}
.lights__pillar {
  position: absolute;
  top: 80%;
  right: 12.5px;
  width: 15px;
  height: 70px;
  background-color: rgb(72, 72, 72);
}

.car {
  position: absolute;
  bottom: 70px;
  left: 100px;
  width: 700px;
  height: 150px;
  background-color: rgba(188, 26, 26);
  border-radius: 20px 50px 20px 20px;
  border: 5px solid rgb(215, 11, 11);
}
.car__wheel-1 {
  position: absolute;
  right: 50px;
  bottom: -55px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px dashed rgb(169, 176, 177);
  background-color: rgb(39, 53, 137);
}
.car__wheel-2 {
  position: absolute;
  left: 50px;
  bottom: -55px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px dashed grey;
  border: 10px dashed rgb(169, 176, 177);
  background-color: rgb(39, 53, 137);
}
.car__cabin {
  position: absolute;
  right: 120px;
  top: -170px;
  width: 200px;
  height: 170px;
  background-color: rgba(188, 26, 26);
  border: 5px solid rgb(215, 11, 11);
  border-radius: 5px 40px 0px 0px;
  border-bottom: none;
}
.car__glass {
  position: absolute;
  right: 150px;
  top: -150px;
  width: 150px;
  height: 140px;
  background-color: rgb(92, 208, 216);
  border-radius: 10px 40px 5px 5px;
  border: 5px solid rgb(215, 11, 11);
}
.car__light-1 {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: yellow;
  border-radius: 50%;
  border: 5px solid orange;
  box-shadow: 0px 0px 20px orange;
}
.car__light-2 {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 30px;
  height: 30px;
  background-color: rgb(255, 0, 0);
  border: 5px solid darkred;
  border-radius: 5px;
  box-shadow: 0px 0px 20px darkred;
}
.car__hand {
  position: absolute;
  top: 10px;
  right: 260px;
  width: 30px;
  height: 7px;
  background-color: black;
  border-radius: 10px;
}
.car__passenger img {
  position: absolute;
  top: -210px;
  left: 10px;
  width: 400px;
  height: 250px;
}
.car__logo img {
  position: absolute;
  top: 30px;
  left: 430px;
  width: 70px;
  height: 70px;
  background-color: black;
  border-radius: 50%;
  box-shadow: 0px 0px 20px black;
}

.picture:hover .car__light-1 {
  transform: scale(1.2);
}
.picture:hover .car__light-2 {
  transform: scale(1.2);
}
.picture:hover .car__passenger {
  transform: translate(0px, -10px);
}
.picture:hover .lights__light-2 {
  transform: scale(1.2);
}
.picture:hover .picture__sun {
  box-shadow: 0px 0px 100px yellow;
}

/******************************/

.footer__container {
  max-width: 1080px;
  margin: 0 auto;
  padding: 15px 0px;
}
.footer__title {
  padding: 20px;
  color: rgb(40, 190, 40);
  font-size: 20px;
  font-weight: 600;
  font-style: italic;
  text-transform: capitalize;
  text-align: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  border: 2px solid black;
  text-decoration: underline dashed;
  letter-spacing: 2px;
}
