@import url(reset.css);

.header__title {
  color: red;
}
.header__info {
  color: darkred;
}
.header__list {
  color: blueviolet;
}

.main__introduction {
  color: darkred;
}
.main__history ol {
  color: darkblue;
}
.main__people ol {
  color: darkmagenta;
}

.block__title {
  color: red;
}
.block__list {
  color: darkcyan;
}

.footer__info {
  color: darkred;
}
