@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("../fonts/ProximaNova-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "icons";
  src: url("../fonts/icons.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class*=" _icon-"]::before {
  font-family: "icons";
  speak: never;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

._icon-add-more::before {
  content: "\e900";
}

._icon-add-review::before {
  content: "\e901";
}

._icon-all-reviews::before {
  content: "\e902";
}

._icon-arrow-all::before {
  content: "\e903";
}

._icon-arrow-down::before {
  content: "\e904";
}

._icon-arrow-more::before {
  content: "\e905";
}

._icon-basket::before {
  content: "\e906";
}

._icon-check::before {
  content: "\e908";
}

._icon-close::before {
  content: "\e909";
}

._icon-favorite::before {
  content: "\e90a";
}

._icon-filter::before {
  content: "\e90b";
}

._icon-hide::before {
  content: "\e90c";
}

._icon-in-stock::before {
  content: "\e90d";
}

._icon-location::before {
  content: "\e90e";
}

._icon-menu-catalog::before {
  content: "\e90f";
}

._icon-menu-catalog-close::before {
  content: "\e910";
}

._icon-menu-parts::before {
  content: "\e911";
}

._icon-menu-sales::before {
  content: "\e912";
}

._icon-menu-star::before {
  content: "\e913";
}

._icon-minus::before {
  content: "\e914";
}

._icon-phone::before {
  content: "\e915";
}

._icon-phone-lite::before {
  content: "\e916";
}

._icon-plus::before {
  content: "\e917";
}

._icon-question::before {
  content: "\e918";
}

._icon-r-answer::before {
  content: "\e919";
}

._icon-r-arrow::before {
  content: "\e91a";
}

._icon-r-hide::before {
  content: "\e91b";
}

._icon-r-like::before {
  content: "\e91c";
}

._icon-r-reply::before {
  content: "\e91d";
}

._icon-search::before {
  content: "\e91e";
}

._icon-slide-arrows::before {
  content: "\e91f";
}

._icon-slider-arrow::before {
  content: "\e920";
}

._icon-social-telegram::before {
  content: "\e921";
}

._icon-social-viber::before {
  content: "\e922";
}

._icon-social-whatsapp::before {
  content: "\e923";
}

._icon-sort::before {
  content: "\e924";
}

._icon-shedule::before {
  content: "\e925";
}

._icon-user::before {
  content: "\e926";
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

address {
  font-style: normal;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

label {
  display: inline-block;
}

button,
select,
option {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  display: none;
}

body {
  font-family: "Proxima Nova", sans-serif;
  color: #2b2929;
  background-color: #f8f8f8;
  opacity: 0;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
body.loaded {
  opacity: 1;
}

.wrapper {
  min-height: 100%;
  overflow: clip;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 82.5rem;
  padding-inline: 0.9375rem;
  margin: 0 auto;
}

.block-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 1.875rem;
}
.block-header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  row-gap: 0.3125rem;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
}
@media (max-width: 47.99875em) {
  .block-header__content {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.block-header__arrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.block-header__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  width: 3.75rem;
  height: 3.75rem;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.block-header__arrow::before {
  color: #ffbc57;
  font-size: 1.25rem;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.block-header__arrow:last-child {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}
@media (any-hover: hover) {
  .block-header__arrow:hover {
    background-color: #ffbc57;
  }
  .block-header__arrow:hover::before {
    color: #fff;
  }
}

.more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  color: #ffbc57;
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 2.52; /* 48/19 */
}
.more::before {
  font-size: 0.75rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
@media (any-hover: hover) {
  .more:hover {
    color: #f8a427;
  }
  .more:hover::before {
    -webkit-transform: scale(1.15) translate(0.3125rem, 0);
        -ms-transform: scale(1.15) translate(0.3125rem, 0);
            transform: scale(1.15) translate(0.3125rem, 0);
  }
}

.item-article, .item-product, .item-category {
  background-color: #fff;
  border-radius: 0.5rem;
  -webkit-box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
          box-shadow: -3px 4px 15px 0px rgba(0, 0, 0, 0.06);
  overflow: hidden;
}

.title {
  font-weight: 600;
  line-height: 1.2;
}
@media (min-width: 82.5em) {
  .title {
    font-size: 2.5rem;
  }
}
@media (min-width: 20em) and (max-width: 82.5em) {
  @supports (font-size: clamp( 2rem , 1.84rem  +  0.8vw , 2.5rem )) {
    .title {
      font-size: clamp( 2rem , 1.84rem  +  0.8vw , 2.5rem );
    }
  }
  @supports not (font-size: clamp( 2rem , 1.84rem  +  0.8vw , 2.5rem )) {
    .title {
      font-size: calc(2rem + 0.5 * (100vw - 20rem) / 62.5);
    }
  }
}
@media (max-width: 20em) {
  .title {
    font-size: 2rem;
  }
}

.item-category__link {
  position: relative;
  padding: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.25rem;
  aspect-ratio: 250/300;
}
@media (max-width: 37.5em) {
  .item-category__link {
    aspect-ratio: 200/240;
  }
}
.item-category__link::before {
  position: absolute;
  bottom: 1.25rem;
  right: 1.25rem;
  color: #ffbc57;
  border: 0.125rem solid;
  border-radius: 50%;
  font-size: 0.625rem;
  width: 3.125rem;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (max-width: 37.5em) {
  .item-category__link::before {
    width: 2.5rem;
  }
}
@media (any-hover: hover) {
  .item-category__link:hover::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
@media (any-hover: none) {
  .item-category__link::before {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}
.item-category__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 112%; /* 280/250 */
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #f8f8f8;
  -webkit-transform: translate(-50%, 31.428571%);
      -ms-transform: translate(-50%, 31.428571%);
          transform: translate(-50%, 31.428571%);
}
.item-category__header {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}
@media (max-width: 37.5em) {
  .item-category__header {
    font-size: 1.1875rem;
  }
}
.item-category__quantity {
  color: #b1b1b1;
}
.item-category__image {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.item-product {
  border: 1px solid #e3e2e2;
  padding: 1.25rem;
}
.item-product > * {
  margin-bottom: 0.625rem;
}
.item-product__link {
  overflow: hidden;
  border-radius: 0.5rem;
  margin-bottom: 1.25rem;
}
.item-product__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 260/220;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (max-width: 37.5em) {
  .item-product__image {
    aspect-ratio: 370/220;
  }
}
@media (any-hover: hover) {
  .item-product__image:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.item-product__size {
  color: #535353;
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.69;
}
@media (max-width: 37.5em) {
  .item-product__size {
    font-size: 0.9375rem;
  }
}
.item-product__title {
  font-size: 1toRem 19;
  font-weight: 600;
  line-height: 1.26;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .item-product__title:hover {
    color: #ffbc57;
  }
}
@media (max-width: 37.5em) {
  .item-product__title {
    font-size: 1.25rem;
  }
}
.item-product__stock {
  font-size: 0.8125rem;
  font-weight: 300;
  line-height: 1.69;
  margin-bottom: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.4375rem;
}
.item-product__stock::before {
  font-size: 1.25rem;
  color: #82b09d;
}
.item-product__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 0.9375rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.item-product__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}
.item-product__favorite {
  width: 3.125rem;
  aspect-ratio: 1/1;
  background-color: #f8f8f8;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.item-product__favorite::before {
  color: #b1b1b1;
  font-size: 1.625rem;
}
@media (any-hover: hover) {
  .item-product__favorite:hover {
    -webkit-box-shadow: 0 0 0.4375rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0.4375rem rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 37.5em) {
  .item-product__favorite {
    width: 4.375rem;
  }
  .item-product__favorite::before {
    font-size: 2.25rem;
  }
}
.item-product__basket {
  width: 3.125rem;
  aspect-ratio: 1/1;
  background-color: #ffbc57;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
}
.item-product__basket::before {
  color: #fff;
  font-size: 1.5625rem;
}
@media (any-hover: hover) {
  .item-product__basket:hover {
    -webkit-box-shadow: 0 0 0.4375rem rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 0.4375rem rgba(0, 0, 0, 0.5);
  }
}
@media (max-width: 37.5em) {
  .item-product__basket {
    width: 4.375rem;
  }
  .item-product__basket::before {
    font-size: 2.1875rem;
  }
}
.item-product > *:last-child {
  margin-bottom: 0rem;
}

.price-item-product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.price-item-product__old {
  color: #e03d3d;
  font-size: 0.9375rem;
  line-height: 1.46;
  text-decoration: line-through;
}
.price-item-product__current {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}
@media (max-width: 37.5em) {
  .price-item-product {
    font-size: 1.625rem;
  }
}

.item-article {
  border: 0.0625rem solid #e3e2e2;
}
.item-article__link {
  margin-bottom: 1.875rem;
  overflow: hidden;
  border-radius: 8px;
}
.item-article__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 410/270;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
@media (any-hover: hover) {
  .item-article__image:hover {
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
  }
}
.item-article__body {
  padding-inline: 1.875rem;
  padding-bottom: 1.25rem;
}
.item-article__title {
  font-size: 1.625rem;
  font-weight: 600;
  line-height: 1.3;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.item-article__title:not(:last-child) {
  margin-bottom: 1.875rem;
}
@media (any-hover: hover) {
  .item-article__title:hover {
    color: #ffbc57;
  }
}
.item-article__more {
  line-height: 1.26;
}

.header {
  color: #535353;
}
.header::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(27, 26, 26, 0.8);
  -webkit-backdrop-filter: blur(2.5px);
          backdrop-filter: blur(2.5px);
  z-index: 2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.catalog-open .header::before {
  opacity: 1;
  visibility: visible;
}
.top-header {
  position: relative;
  z-index: 5;
  background-color: #f8f8f8;
}
.top-header__container {
  padding-block: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
}
.top-header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.3125rem;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
}
.menu__link {
  line-height: 1.87;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #ffbc57;
  }
}

.social-header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.25rem;
     -moz-column-gap: 1.25rem;
          column-gap: 1.25rem;
  row-gap: 0.3125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.social-header-top__label {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  line-height: 1.87;
}
.social-header-top__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.625rem;
     -moz-column-gap: 0.625rem;
          column-gap: 0.625rem;
  row-gap: 0.3125rem;
}
.social-header-top__item {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
.social-header-top__item img {
  width: 1.875rem;
  height: 1.875rem;
}
@media (any-hover: hover) {
  .social-header-top__item:hover {
    -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
            transform: scale(1.07);
  }
}

.lang-header-top {
  position: relative;
}
.lang-header-top.--active .lang-header-top__list {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
.lang-header-top.--active .lang-header-top__current::before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.lang-header-top__current {
  position: relative;
  z-index: 7;
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.26;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.lang-header-top__current::before {
  font-size: 0.625rem;
  color: #535353;
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.5s, -webkit-transform 0.5s;
  transition: color 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, color 0.5s;
  transition: transform 0.5s, color 0.5s, -webkit-transform 0.5s;
}
.lang-header-top__list {
  position: absolute;
  z-index: 6;
  width: 100%;
  padding-block: 0.625rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.5s, visibility 0.5s;
  transition: opacity 0.5s, visibility 0.5s;
  pointer-events: none;
}
.lang-header-top__list::before {
  content: "";
  position: absolute;
  z-index: 6;
  top: -2.125rem;
  left: -0.3125rem;
  width: calc(100% + 0.625rem);
  height: calc(100% + 2.125rem);
  background-color: #fff;
  -webkit-box-shadow: 0 0 0.9375rem 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 0 0.9375rem 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.5rem;
}
.lang-header-top__item {
  position: relative;
  z-index: 6;
}
.lang-header-top__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.lang-header-top__link {
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.26;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .lang-header-top__link:hover {
    color: #ffbc57;
  }
}
@media (any-hover: hover) {
  .lang-header-top:hover .lang-header-top__list {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .lang-header-top:hover .lang-header-top__current {
    color: #ffbc57;
  }
  .lang-header-top:hover .lang-header-top__current::before {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
    color: #ffbc57;
  }
}

.body-header {
  position: relative;
  z-index: 4;
  background-color: #fff;
}
.body-header__container {
  position: relative;
  padding-block: 1.5625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 1.875rem;
     -moz-column-gap: 1.875rem;
          column-gap: 1.875rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.body-header__logo {
  width: 15.625rem;
  height: 3.125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 0.25rem;
}
.body-header__search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.body-header__contacts {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.body-header__actions {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.button-header-catalog {
  color: #fff;
  background-color: #ffbc57;
  padding-block: 0.6875rem;
  padding-inline: 1.25rem;
  border-radius: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .button-header-catalog:hover {
    background-color: #fdab30;
  }
}
.button-header-catalog__icon {
  width: 1.25rem;
  aspect-ratio: 1/1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  overflow: hidden;
  position: relative;
}
.button-header-catalog__icon span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.button-header-catalog__icon span:last-child {
  -webkit-transform: translate(0rem, 110%);
      -ms-transform: translate(0rem, 110%);
          transform: translate(0rem, 110%);
}
.catalog-open .button-header-catalog__icon span:first-child {
  -webkit-transform: translate(0rem, -110%);
      -ms-transform: translate(0rem, -110%);
          transform: translate(0rem, -110%);
}
.catalog-open .button-header-catalog__icon span:last-child {
  -webkit-transform: translate(0rem, 0rem);
      -ms-transform: translate(0rem, 0rem);
          transform: translate(0rem, 0rem);
}
.button-header-catalog__text {
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.26;
}

:root {
  --menu-catalog-top: 0px;
}

.items-catalog-header {
  block-size: calc(100dvh - var(--menu-catalog-top));
  overflow: auto;
  width: 100%;
  display: block;
  color: #2b2929;
  position: absolute;
  z-index: 3;
  top: calc(100% + 0.625rem);
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.catalog-open .items-catalog-header {
  opacity: 1;
  visibility: visible;
}
.items-catalog-header__list {
  padding-block: 0.5rem;
  background-color: #fff;
  border-radius: 0.5rem;
  position: relative;
  z-index: 3;
  width: 18.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: border-radius 0.3s;
  transition: border-radius 0.3s;
}
.items-catalog-header__list::after {
  content: "";
  position: absolute;
  z-index: 3;
  pointer-events: none;
  top: 0.5rem;
  right: 0;
  width: 0;
  height: calc(100% - 1.125rem);
  background-color: #ffbc57;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
@media (any-hover: hover) {
  .items-catalog-header__list:hover {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .items-catalog-header__list:hover::after {
    width: 0.3125rem;
  }
}
.items-catalog-header__item {
  min-height: 3.75rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
@media (any-hover: hover) {
  .items-catalog-header__item:hover {
    background-color: #ffbc57;
  }
  .items-catalog-header__item:hover .items-catalog-header__arrow-more {
    color: #2b2929;
  }
  .items-catalog-header__item:hover .items-catalog-header__sub-list {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    left: 100%;
  }
}
.items-catalog-header__link {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.9375rem;
  padding-block: 0.625rem;
  -webkit-padding-start: 1.875rem;
          padding-inline-start: 1.875rem;
}
.items-catalog-header__icon {
  width: 2.5rem;
  height: 2.5rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.items-catalog-header__title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}
.items-catalog-header__arrow-more {
  pointer-events: none;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.9375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #ffbc57;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.items-catalog-header__arrow-more::before {
  font-size: 0.6875rem;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.items-catalog-header__sub-list {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  left: 20%;
  background-color: #fff;
  width: 19.875rem;
  height: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
  padding-block: 1.25rem;
  -webkit-padding-start: 1.875rem;
          padding-inline-start: 1.875rem;
  -webkit-padding-end: 1.25rem;
          padding-inline-end: 1.25rem;
  overflow-y: auto;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.items-catalog-header__sub-item:not(:last-child) {
  margin-bottom: 1.0625rem;
}
.items-catalog-header__sub-link {
  font-size: 1.1875rem;
  line-height: 1.2;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .items-catalog-header__sub-link:hover {
    color: #ffbc57;
  }
}

.search-header {
  border-radius: 0.5rem;
  border: 0.0625rem solid #b1b1b1;
  height: 3.125rem;
  position: relative;
}
.search-header__input {
  height: 100%;
  border-radius: 0.5rem;
  -webkit-padding-end: 3.375rem;
          padding-inline-end: 3.375rem;
  -webkit-padding-start: 0.9375rem;
          padding-inline-start: 0.9375rem;
}
.search-header__input::-webkit-input-placeholder {
  color: #b1b1b1;
}
.search-header__input::-moz-placeholder {
  color: #b1b1b1;
}
.search-header__input:-ms-input-placeholder {
  color: #b1b1b1;
}
.search-header__input::-ms-input-placeholder {
  color: #b1b1b1;
}
.search-header__input::placeholder {
  color: #b1b1b1;
}
.search-header__button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 3.375rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.5rem;
}
.search-header__button::before {
  font-size: 1.5rem;
  color: #535353;
}

.contacts-header {
  position: relative;
}
.contacts-header__current {
  position: relative;
  z-index: 3;
}
.contacts-header__list {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  width: 100%;
  padding-left: 3.75rem;
  padding-top: 0.625rem;
  opacity: 0;
  visibility: hidden;
}
.contacts-header__list::before {
  content: "";
  position: absolute;
  background-color: #fff;
  top: -4.375rem;
  left: -1.25rem;
  width: calc(100% + 2.5rem);
  height: calc(100% + 5.625rem);
  border-radius: 8px;
  -webkit-box-shadow: 0rem 0rem 0.9375rem 0rem rgba(0, 0, 0, 0.12);
          box-shadow: 0rem 0rem 0.9375rem 0rem rgba(0, 0, 0, 0.12);
}
.--active .contacts-header__list {
  opacity: 1;
  visibility: visible;
}
.contacts-header__item {
  position: relative;
  z-index: 2;
}
.contacts-header__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.contacts-header__link {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}
@media (any-hover: hover) {
  .contacts-header__link:hover {
    text-decoration: underline;
  }
}
.contacts-header__callback {
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.4;
  color: #ffbc57;
  text-align: left;
}
@media (any-hover: hover) {
  .contacts-header__callback:hover {
    text-decoration: underline;
  }
}

.current-header-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.625rem;
}
.current-header-contacts__icon-phone {
  width: 3.125rem;
  aspect-ratio: 1/1;
  background-color: #f8f8f8;
  border-radius: 50%;
  font-size: 1.4375rem;
  color: #535353;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.current-header-contacts__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.current-header-contacts__arrow {
  position: relative;
  width: 1.5rem;
  aspect-ratio: 1/1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.current-header-contacts__arrow span {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.6875rem;
  width: 1.5rem;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #535353;
  -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: opacity 0.5s, -webkit-transform 0.5s;
  transition: transform 0.5s, opacity 0.5s;
  transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}
.current-header-contacts__arrow span:last-child {
  opacity: 0;
}
.--active .current-header-contacts__arrow span {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.--active .current-header-contacts__arrow span:first-child {
  opacity: 0;
}
.--active .current-header-contacts__arrow span:last-child {
  opacity: 1;
}

.current-contacts-header__schedule {
  font-size: 13px;
  font-weight: 300;
  line-height: 1.69;
  color: #535353;
}
.current-contacts-header__phone {
  font-size: 20px;
  font-weight: 600;
  line-height: 1.4;
}
@media (any-hover: hover) {
  .current-contacts-header__phone:hover {
    text-decoration: underline;
  }
}

.actions-body-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
.actions-body-header__item {
  width: 3.125rem;
  aspect-ratio: 1/1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 0.125rem solid #ffbc57;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
.actions-body-header__item::before {
  font-size: 1.5625rem;
  color: #535353;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .actions-body-header__item:hover {
    background-color: #ffbc57;
  }
  .actions-body-header__item:hover::before {
    color: #fff;
  }
}

.bottom-header {
  background-color: #fff;
  border-top: 0.125rem solid #f8f8f8;
  font-size: 1.1875rem;
  font-weight: 600;
  line-height: 1.26;
}
.bottom-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 3.125rem;
     -moz-column-gap: 3.125rem;
          column-gap: 3.125rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-block: 1.125rem;
}
.info-bottom-header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.info-bottom-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.3125rem;
}
.info-bottom-header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.info-bottom-header__item::before {
  width: 1.5rem;
  height: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 1.25rem;
  color: #ffbc57;
}
.info-bottom-header__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .info-bottom-header__link:hover {
    color: #ffbc57;
  }
}

.menu-bottom-header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 2.5rem;
     -moz-column-gap: 2.5rem;
          column-gap: 2.5rem;
  row-gap: 0.3125rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.menu-bottom-header__link {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
@media (any-hover: hover) {
  .menu-bottom-header__link:hover {
    color: #ffbc57;
  }
}

.footer {
  background-color: #2b2929;
}
.footer__body {
  color: #fff;
}
.footer__container {
  display: grid;
  -webkit-column-gap: 5.1875rem;
     -moz-column-gap: 5.1875rem;
          column-gap: 5.1875rem;
  row-gap: 2.5rem;
  padding-block: 2.5rem;
  grid-template-columns: 15.625rem 1fr 15rem;
}
@media (max-width: 71.875em) {
  .footer__container {
    grid-template-columns: 12.5rem 1fr;
    -webkit-column-gap: 3.75rem;
       -moz-column-gap: 3.75rem;
            column-gap: 3.75rem;
  }
}
@media (max-width: 47.99875em) {
  .footer__container {
    grid-template-columns: auto;
  }
}
.footer__bottom {
  text-align: center;
  border-top: 0.125rem solid #3d3d3d;
  padding-block: 1.25rem;
  color: #b1b1b1;
  font-size: 15px;
  line-height: 1.46;
}

@media (max-width: 47.99875em) and (min-width: 37.5625em) {
  .social-footer {
    gap: 1.25rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media (max-width: 37.5em) {
  .social-footer {
    text-align: center;
  }
}
.social-footer > * {
  margin-bottom: 2.5rem;
}
@media (min-width: 37.5625em) and (max-width: 47.99875em) {
  .social-footer > * {
    -ms-flex-preferred-size: 6.25rem;
        flex-basis: 6.25rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 0rem;
  }
}
.social-footer__logo {
  width: 15.625rem;
  height: 3.125rem;
}
@media (max-width: 71.875em) and (min-width: 48em) {
  .social-footer__logo {
    max-width: 12.5rem;
  }
}
@media (max-width: 37.5em) {
  .social-footer__logo {
    margin: 0 auto;
  }
}
.social-footer__section--margin {
  margin-bottom: 1.875rem;
}
@media (min-width: 37.5625em) and (max-width: 47.99875em) {
  .social-footer__section--margin {
    margin-bottom: 0;
  }
}
.social-footer__payment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.25rem;
}
.social-footer > *:last-child {
  margin-bottom: 0;
}

.section-social-footer__title {
  font-size: 1.0625rem;
  line-height: 1.41;
  margin-bottom: 0.625rem;
}
.section-social-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.9375rem;
}
@media (max-width: 37.5em) {
  .section-social-footer__items {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.section-social-footer__item {
  width: 2.5rem;
  aspect-ratio: 1/1;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
@media (any-hover: hover) {
  .section-social-footer__item:hover {
    -webkit-transform: scale(1.07);
        -ms-transform: scale(1.07);
            transform: scale(1.07);
  }
}

@media (max-width: 37.5em) {
  .payment-social-footer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.menu-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2.5rem;
}
@media (max-width: 37.5em) {
  .menu-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
  }
}
@media (min-width: 37.5625em) {
  .menu-footer__item {
    -ms-flex-preferred-size: 6.25rem;
        flex-basis: 6.25rem;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -ms-flex-negative: 1;
        flex-shrink: 1;
  }
}
.menu-footer__title {
  position: relative;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
  list-style: none;
  margin-bottom: 0.625rem;
}
@media (max-width: 37.5em) {
  .menu-footer__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.625rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-block: 0.6875rem;
    background-color: #000;
    margin-bottom: 0;
  }
}
.menu-footer__title::before, .menu-footer__title::marker, .menu-footer__title::-webkit-details-marker {
  display: none;
}
._init .menu-footer__title::before {
  display: block;
  font-size: 0.625rem;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}
._init[open] .menu-footer__title::before {
  -webkit-transform: scale(1, -1);
      -ms-transform: scale(1, -1);
          transform: scale(1, -1);
}
.menu-footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.625rem;
}
@media (max-width: 37.5em) {
  .menu-footer__list {
    text-align: center;
    -webkit-padding-before: 0.625rem;
            padding-block-start: 0.625rem;
  }
}
.menu-footer__link {
  color: #f8f8f8;
  font-size: 1.0625rem;
  line-height: 1.41;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
.menu-footer__link:hover {
  color: #ffbc57;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2rem;
}
@media (max-width: 71.875em) and (min-width: 48em) {
  .contacts-footer {
    grid-column: span 2;
  }
}
@media (max-width: 48em) {
  .contacts-footer {
    gap: 1.25rem;
  }
}
@media (max-width: 37.5em) {
  .contacts-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media (min-width: 71.875em) {
  .contacts-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.contacts-footer__section {
  position: relative;
  padding-left: 4.0625rem;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.4;
}
@media (max-width: 58.75em) {
  .contacts-footer__section {
    padding-left: 0;
  }
}
@media (max-width: 37.5em) {
  .contacts-footer__section {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0 auto;
  }
}
@media (max-width: 71.875em) {
  .contacts-footer__section--shrink {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: 15.625rem;
        flex-basis: 15.625rem;
  }
}
@media (max-width: 58.75em) {
  .contacts-footer__section--shrink {
    -ms-flex-preferred-size: 11.25rem;
        flex-basis: 11.25rem;
  }
}
@media (max-width: 37.5em) {
  .contacts-footer__section--shrink {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    max-width: 11.25rem;
  }
}
.contacts-footer__section::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 3.125rem;
  height: 3.125rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.25rem;
  color: #b1b1b1;
  border-radius: 50%;
  border: 0.125rem solid rgba(177, 177, 177, 0.2);
}
@media (max-width: 58.75em) {
  .contacts-footer__section::before {
    display: none;
  }
}
.contacts-footer__item {
  line-height: 1.3;
}
.contacts-footer__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
@media (any-hover: hover) {
  .contacts-footer__item:hover {
    text-decoration: underline;
  }
}
.contacts-footer__callback {
  color: #ffbc57;
}
.contacts-footer__callback:hover {
  text-decoration: underline;
}
.contacts-footer__text:hover {
  text-decoration: underline;
}